header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;

  .header_box {
    width: 1400px;
    display: flex;
    line-height: 80px;
    justify-content: space-between;
    & figure {
      display: flex;
      align-items: center;
    }
    & .menu {
      display: flex;
      width: 500px;
      justify-content: space-between;
      & li {
        font-weight: 500;
      }
    }
    & input {
      margin: auto 0;
      height: 35px;
      border-radius: 35px;
      border: 1px solid #999;
      &::placeholder {
        padding-left: 20px;
      }
    }
    & .alarm {
      display: flex;
      & li {
        @extend %displayFlex;
        margin: 0 12px;
      }
    }
  }
}
.main_bg {
  width: 100%;
  height: 267px;
  background-image: url(../../img/main_img.png);
  @extend %displayFlex;
  position: relative;
  & .main_bg_t {
    width: 929px;
    height: 171px;
    background-image: url(../../img/bg_text.png);
    @extend %displayFlex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    & h2 {
      color: #fff;
      font-size: 35px;
      font-weight: 400;
    }
    & h3 {
      color: #fff;
      font-size: 36px;
    }
  }
  & div:nth-child(1) {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.18);
    position: absolute;
  }
}
